<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <form action="/survey" method="POST">
    Name <input type="text" name="txtName">
    <input type="submit" value="Send">
</form>
    <h2 style="color: chocolate;">clm thang lon</h2>
    <br>
    <select name="job">
        <option value="1">nong dan</option>
        <option value="2">cong nhan</option>
        <option value="3">quan chuc nha nuoc</option>
    </select>
    <a href="/about"> Go to about home Page</a>
</body>
</html>